@import "tailwindcss";

@import "maplibre-gl/dist/maplibre-gl.css";
@import "@geoman-io/maplibre-geoman-free/dist/maplibre-geoman.css";
@import '@maplibre/maplibre-gl-inspect/dist/maplibre-gl-inspect.css';

.maplibregl-ctrl-group button.gm-control-button {
  color: black;
}

.maplibregl-measure button.active {
  color: #005f7c;
  background-color: #c4eaff;
}


.maplibregl-place-template button.active {
  color: #005f7c;
  background-color: #c4eaff;
}